<div class='container py-5'>

  <section class="jumbotron text-center header mb-0 col-md-12">
    <div class="container mx-auto">
      <div class='row align-items-center justify-content-center mb-2'>
        <%= image_tag("kyklos.png", class: "d-block mx-5 logo") %> 
      </div>
    </div>
    <h3 class="header textos col-md-8 mx-auto text">Gracias por participar!</h5>
  </section>

  <div class="row align-items-center justify-content-center mb-2">
    <%= image_tag('https://media.giphy.com/media/4ml290TZ35zOM/giphy.gif', class: "col-md-6 d-block thanks text-center my-4") %> 
  </div>

  <div class="row align-items-center justify-content-center mb-2">
    <% if !@answers.nil? %>
      <% @answers.each do |answer| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"> <%= answer.choice %></p>
          </div>
        </div>
      <% end %>
    <% end  %>
  </div>

  <div class='container'>
    <%= link_to "Volver", root_path, class:"btn btn-success active text d-block mx-auto col-md-6"%>
  </div>

</div>


