// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
  font-family: 'Dosis', sans-serif;
  font-weight:700;
  text-align: center;

}

.text {
  font-family: 'Dosis', sans-serif;
  text-align: center;

}

.moods-img {
  height: 300px!important;
  width: 600px!important;
  display: block;
}

.logo {
  height: 200px!important;
  width: 300px!important;
  display: block;

}

.thanks {
  height: 400px!important;
  width: 350px!important;
  display: block;

}

